/* Reset and Base Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --bg-color: #202020;
}

html {
    font-size: 62.5%;
    font-family: "Urbanist", sans-serif;
    overflow-x: hidden;
}

body {
    background-color: black;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    color: #fff;
}

p,
li,
a,
button {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    color: #fff;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #2e86c1;
}

button {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    padding: 0.6rem 2.4rem;
    text-align: center;
    outline: none;
    border: none;
    text-transform: unset;
    transition: all 0.3s ease-in-out;
    background: #202020;
    color: #fff;
    border-radius: 1.5rem;
    border-width: 0.1rem;
    border-style: solid;
    margin-top: 1.6rem;
}


/* Layout */

main {
    width: 100%;
}

.container {
    max-width: 130rem;
    margin: auto;
    padding: 0 2rem;
    width: 100%;
}

.grid {
    display: grid;
    gap: 2rem;
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
}


/* Responsive Breakpoints */

@media screen and (max-width: 1200px) {
    .grid-four-cols {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .grid-four-cols,
    .grid-three-cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .grid-four-cols,
    .grid-three-cols,
    .grid-two-cols {
        grid-template-columns: 1fr;
    }
}


/* Header */

header {
    height: 10rem;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 10px 10px -10px;
    background-color: #202020;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container {
    height: 10rem;
}

.navbar-grid {
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    height: 10rem;
    padding: 0 3.2rem;
}


/* Logo */

.Logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.Logo img {
    height: 8rem;
    width: auto;
    transition: transform 0.3s ease;
}

.Logo img:hover {
    transform: scale(1.05);
}


/* Navigation */

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 3.2rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.ham-menu {
    display: none;
}


/* Mobile Menu */

@media screen and (max-width: 998px) {
    .menu-web {
        display: none;
    }
    .ham-menu {
        display: flex;
        justify-content: flex-end;
    }
    .menu-mobile {
        position: absolute;
        top: 10rem;
        left: 0;
        background-color: #0d1212;
        width: 100%;
        box-shadow: rgba(255, 252, 252, 0.25) 0px 14px 28px;
        z-index: 100;
    }
    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-mobile ul li:first-child {
        margin-top: 1.2rem;
    }
    .menu-mobile ul li:last-child {
        margin-bottom: 1.2rem;
    }
    .Logo img {
        height: 5rem;
    }
}


/* Hero Section */

.hero-section {
    width: 100%;
}

.hero-section .container {
    padding: 3.2rem;
    margin: 9rem auto;
    gap: 6.4rem;
}

.paragraph {
    margin: 3.2rem 0;
}

.heading-xl {
    font-family: inherit;
    font-size: clamp(5.2rem, 6vw, 4.241rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .banner-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 990px) {
    .hero-content {
        order: 1;
    }
    .container .banner-image {
        width: 80%;
        order: 0;
    }
    .heading-xl {
        font-size: clamp(3.2rem, 5vw, 4.241rem);
        text-align: left;
    }
}


/* About Section */

.section-about {
    margin: 0 auto 9rem auto;
}

.gradient-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
}

@media screen and (max-width: 991px) {
    .gradient-cards {
        grid-template-columns: 1fr;
    }
}

.container-title {
    text-align: center;
    padding: 0 !important;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
}

@media screen and (max-width: 768px) {
    .container-title {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    .container-title {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 20px;
    }
}


/* Card Styles */

.card {
    max-width: 55rem;
    width: 100%;
    margin: 0 auto;
    border: 0;
}

.container-card {
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
}

@media (max-width: 768px) {
    .card {
        padding: 0 1.5rem;
    }
    .container-card {
        padding: 20px;
        /* border-radius: 30px; */
    }
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}

.bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.countryInfo {
    padding: 1.6rem;
    text-align: left;
}

@media (max-width: 768px) {
    .countryInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card-title {
        font-weight: 600;
        margin-bottom: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    .card-description {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    button {
        margin-top: 1rem;
    }
}

.card-title {
    font-weight: 600;
    color: white;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 8px;
}

.card-description {
    font-weight: 600;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    max-width: 470px;
}


/* Footer */

.footer-section {
    background: #151414;
    position: relative;
    padding: 3rem 0;
}

.footer-contact {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2.5rem;
}

.footer-contact .icon {
    color: #3a4ed5;
    font-size: 3.5rem;
}

.footer-contact-text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer-contact-text p {
    font-size: 1.8rem;
    color: #757575;
}

.footer-contact-text p:first-child {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.copyright-area {
    background: #202020;
    padding: 2rem 0;
}

.copyright-text p {
    margin: 0;
    font-size: 1.6rem;
    color: #878787;
    text-align: center;
}

.copyright-text p a {
    color: #3a4ed5;
    margin-left: 0.8rem;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li a {
    font-size: 1.6rem;
    color: #878787;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-menu li:hover a {
    color: #3a4ed5;
}

@media screen and (max-width: 768px) {
    .grid-three-cols {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-contact {
        flex-direction: column;
        text-align: center;
    }
    .footer-contact .icon {
        font-size: 3rem;
    }
    .footer-contact-text p {
        font-size: 1.6rem;
    }
    .footer-contact-text p:first-child {
        font-size: 1.8rem;
    }
    .copyright-text p {
        font-size: 1.4rem;
    }
    .footer-menu li a {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 480px) {
    .grid-three-cols,
    .grid-two-cols {
        grid-template-columns: 1fr;
    }
    .footer-contact {
        gap: 1.5rem;
    }
    .footer-contact .icon {
        font-size: 2.5rem;
    }
    .footer-contact-text p {
        font-size: 1.4rem;
    }
    .footer-contact-text p:first-child {
        font-size: 1.6rem;
    }
    .copyright-text p {
        font-size: 1.2rem;
    }
    .footer-menu ul {
        gap: 1rem;
    }
    .footer-menu li a {
        font-size: 1.2rem;
    }
}


/* Country Card */

.country-card {
    margin-top: 3.2rem;
}

.country-section {
    margin: 6.4rem auto 9.6rem auto;
}

.country-section .grid {
    gap: 1.2rem;
    max-width: 132rem;
    margin: auto;
}

.country-flag-container {
    width: 100%;
    height: 16rem;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country-flag-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.country-card:hover .country-flag-container img {
    transform: scale(1.05);
}

.country-card {
    transition: all 0.3s ease;
    /* height: 100%; */
}

.country-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* Flag Container */

.country-flag-container {
    width: 100%;
    height: 16rem;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country-flag-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.country-card:hover .country-flag-container img {
    transform: scale(1.05);
}


/* Country Info */

.countryInfo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.countryInfo p {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
}

.countryInfo .card-title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.countryInfo .card-description {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
}


/* Button Styles */

.countryInfo button {
    margin-top: 2rem;
    background: linear-gradient(to right, #3a4ed5, #2e86c1);
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    transition: all 0.3s ease;
}

.countryInfo button:hover {
    background: linear-gradient(to right, #2e86c1, #3a4ed5);
    transform: translateX(5px);
}


/* Responsive Adjustments */

@media (max-width: 768px) {
    .country-flag-container {
        height: 14rem;
    }
    .countryInfo {
        padding: 1.5rem;
    }
    .countryInfo .card-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .country-flag-container {
        height: 12rem;
    }
    .countryInfo p {
        font-size: 1.3rem;
    }
    .countryInfo button {
        padding: 0.8rem 1.6rem;
    }
}


/* Individual Card Container */

.country-details-card {
    max-width: 100%;
    margin: 6.4rem auto;
    box-shadow: rgba(168, 163, 184, 0.15) 0px 48px 100px 0px;
}

.country-details-card .container-card .grid {
    align-items: center;
}

.country-details-card .container-card img {
    width: 100%;
    max-width: 30rem;
    height: auto;
    object-fit: cover;
    margin-bottom: 0;
    justify-self: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 48px 100px 0px;
}

.country-details-card .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.country-details-card .country-card-backBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .country-details-card .container-card .grid {
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }
    .country-details-card .container-card img {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }
    .country-details-card .infoContainer {
        gap: 1rem;
        padding: 0 1rem;
    }
    .country-details-card .country-card-backBtn {
        justify-content: center;
        padding: 0 1rem;
    }
    .country-details-card .country-content {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .country-details-card .card-title {
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 480px) {
    .country-details-card {
        margin: 2rem auto;
    }
    .country-details-card .container-card {
        padding: 1rem;
    }
    .country-details-card .infoContainer {
        gap: 1.2rem;
    }
    .country-details-card .country-card-backBtn {
        padding: 0;
    }
    .country-details-card .country-content {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
        display: block;
    }
}


/* Search Filter */

.section-searchFilter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.2rem;
}

.section-searchFilter .input-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.section-searchFilter input {
    padding: 0.8rem 1.2rem;
    font-family: "Urbanist", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    border: 1px solid #fff;
    border-radius: 5rem;
    max-width: 100%;
}

.section-searchFilter .select-section {
    padding: 0.8rem 1.2rem;
    font-family: "Urbanist", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    border: 1px solid #fff;
    border-radius: 5rem;
    max-width: 100%;
}

.section-searchFilter .select-section option {
    background: #080509;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
    .section-searchFilter .input-container {
        flex-direction: column;
        gap: 1rem;
    }
}

::placeholder {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
}


/* Contact Us Page */

.section-contact {
    margin: 9.6rem auto;
}

.section-contact hr {
    border-color: rgba(255, 255, 255, 0.6);
}

.contact-wrapper {
    display: flex;
    justify-content: center;
}

.contact-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
    max-width: 48rem;
}

.contact-wrapper form input,
.contact-wrapper form textarea {
    background-color: #000;
    font-size: 1.6rem;
    color: #fff;
    outline: none;
    border: 0.1rem solid rgba(255, 255, 255, 0.4);
    padding: 1.2rem 1.6rem;
    border-radius: 0.3rem;
    width: 100%;
}


/* Loader */

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}

.loader-section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}